<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/handleForm.js" defer></script>
  </head>
  <body>
    <%- include('navbar') %>
    <main>
      <% if (locals.user) { %>
      <h1 class="welcome-user-message">
        Welcome <%= user.first_name + ' ' + user.last_name %>
      </h1>
      <% } %> <% if(error) {%>

      <h2><%=error %></h2>
      <%}%>
      <ul class="message-container">
        <% messages.forEach((message) => { %>
        <li class="message-info-container">
          <% if(locals.user && locals.user.is_admin) { %>

          <span class="delete-btn" data-id="<%= message.id %>">&times;</span>
          <%}%>
          <div class="message-header">
            <div class="message-author">
              <% if (locals.user && user.membership_status) { %> <%=
              message.first_name + ' ' + message.last_name %> <% } else { %>
              Anonymous <% } %>
            </div>
            <div message-timestamp>
              <% if (locals.user && user.membership_status) { %>
              <%=formatDate(message.timestamp ) %> <% } else { %> YYYY-MM-DD
              XX:XX <% } %>
            </div>
          </div>

          <div class="message-title"><%= message.title %></div>
          <div class="message-body"><%= message.text %></div>
        </li>
        <% }) %>
      </ul>

      <div id="postMessageModal" class="modal">
        <div class="modal-content">
          <span id="close-post-btn" class="close-btn">&times;</span>
          <form action="/create-message" method="POST">
            <h2>Create Post</h2>
            <div class="add-trainer-input-container">
              <label for="title">Title:</label>
              <input
                type="text"
                id="title"
                name="title"
                minlength="1"
                maxlength="50"
                placeholder="What a nice weather"
                required
              />
            </div>

            <div>
              <label for="text">Text:</label>
              <input
                type="text"
                id="text"
                name="text"
                minlength="1"
                maxlength="128"
                placeholder="What's on your mind?"
                required
              />
            </div>

            <button class="submit-btn" type="submit">Post</button>
          </form>
        </div>
      </div>
      <% if(locals.user && !locals.user.membership_status) { %>
      <div id="join-member-status-modal" class="modal">
        <div class="modal-content">
          <span id="close-join-btn" class="close-btn">&times;</span>
          <form action="/join-member" method="POST">
            <h2>Become a members</h2>
            <label for="member_code">Secret Code:</label>
            <input type="password" name="member_code" id="member_code" />
            <div id="join-member-error-msg"></div>
            <div class="modal-buttons">
              <button type="submit" id="confirm-join-member-btn">Submit</button>
              <button type="button" id="cancel-join-member-btn">Cancel</button>
            </div>
          </form>
        </div>
      </div>
      <% } %> <% if(locals.user && locals.user.membership_status) { %>
      <div id="cancel-member-status-modal" class="modal">
        <div class="modal-content">
          <h2>Are you sure you want to cancel membership?</h2>
          <div class="modal-buttons">
            <button
              data-id="<%= locals.user.id %>"
              type="submit"
              id="confirm-canceling-member-btn"
            >
              Yes
            </button>
            <button type="button" id="cancel-canceling-member-btn">No</button>
          </div>
        </div>
      </div>

      <div id="join-admin-modal" class="modal">
        <div class="modal-content">
          <span id="close-join-admin-btn" class="close-btn">&times;</span>
          <form action="/join-admin" method="POST">
            <h2>Become a Admin</h2>
            <label for="admin-pwd">Password:</label>
            <input type="password" name="admin_pwd" id="admin-pwd" />
            <div id="join-admin-error-msg"></div>
            <div class="modal-buttons">
              <button type="submit" id="confirm-join-admin-btn">Submit</button>
              <button type="button" id="cancel-join-admin-btn">Cancel</button>
            </div>
          </form>
        </div>
      </div>
      <% } %> <% if(locals.user && locals.user.is_admin) { %>
      <div id="delete-confirmation-modal" class="modal">
        <div class="modal-content">
          <h2>Are you sure you want to delete this message?</h2>
          <div class="modal-buttons">
            <button id="confirm-delete-btn">Yes</button>
            <button id="cancel-btn">No</button>
          </div>
        </div>
      </div>

      <div id="cancel-admin-modal" class="modal">
        <div class="modal-content">
          <h2>Are you sure you want to remove admin status?</h2>
          <div class="modal-buttons">
            <button
              data-id="<%= locals.user.id %>"
              type="submit"
              id="confirm-canceling-admin-btn"
            >
              Yes
            </button>
            <button type="button" id="cancel-canceling-admin-btn">No</button>
          </div>
        </div>
      </div>
      <% } %>
    </main>
    <%- include('footer') %>
  </body>
</html>
